<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
>
  <div class="card-body text-white">
    <img src="/assets/about.jpg" class="img-thumbnail w-50 h-50" alt="...">

    <h5 class="card-title text-black mt-3">Welcome to Github Search</h5>
    <p class="card-text text-black">
       Enter a GitHub username on the search bar and see descriptions of public repositories, name of GitHub user, followers and so much more. <br> You can also look for repositories

    </p>
    <p class="text-black">Have fun!!</p>
  </div>
</div>
<!-- Card -->